.main{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.signup-container {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-heading {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .signup-form {
	display: flex;
	flex-direction: column;
  }
  
  .form-group {
	margin-bottom: 20px;
	height: 150px;
  }
  
  .label {
	margin-bottom: 5px;
  }
  
  .input-field {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  
  .submit-btn {
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
  }
  thead{
	border: 1px solid black;
  }
  td{
	border: 1px solid black;
  }
  tr{
	border: 1px solid black;
  }
  th{
	border: 1px solid black;
  }